<!-- {% extends 'main.html' %}

{% block content %}

<br><br>
<div>
    <div class="comment">
        <form action="" method="post">
          {% csrf_token %}

          <label for="">enter your comment</label>
          <input type="text" name="body" placeholder="enter your comment." id="">
        </form>
      </div>

<hr>
      <div>
        <h1>all comments</h1>
        <div>
            {% for comment in comments %}
              <p>{{comment.body}}</p>
              <hr>
            {% endfor %}
        </div>
      </div>

</div>

{% endblock %} -->